
@{
    ViewBag.Title = "Loss Sounds";
    string saludo;
    var hora = DateTime.Now.Hour;
}
@if (hora < 12 && hora >6)
{
    saludo = "Buenos días";
}
else if(hora >12 && hora <20)
{
    saludo = "Buenas tardes";
            }
else
{
    saludo = "Buenas noches";
}

<div>
    <h2>@saludo</h2>
    <h2>@DateTime.Now.Hour:@DateTime.Now.Minute</h2>
</div>

